@font-face {
    font-family: 'Marck Script';
    src: local('Marck Script'), local('MarckScript-Regular'), url('marckscript/marckscript.woff2') format('woff2'), url('marckscript/marckscript.woff') format('woff'), url('marckscript/marckscript.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
