<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="home">
      <p>Хотите задать вопрос?</p>
      <p><%= button_to 'Ask a Question', questions_path, method: :get, class: "btn btn-primary" %></p>
      <p>Хотите написать пост?</p>
      <p>
        <%= button_to 'Sign in', new_user_session_path, method: :get, class: "btn btn-primary" %>
        <%= button_to 'Sign up', new_user_registration_path, method: :get, class: "btn btn-primary" %>
      </p>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>