<div class="home">
  <p>Do you want to ask a question?</p>
  <p><%= button_to 'Ask a Question', new_question_path, method: :get, class: "btn btn-info" %></p>
  <p>Do you want to write a post?</p>
  <% if user_signed_in? %>
    <%= button_to 'Write an Article', new_article_path, method: :get, class: "btn btn-info" %>
  <% else %>
    <ul>
      <li style="display: inline-block; margin-left: -40px;">
        <%= button_to 'Sign in', new_user_session_path, method: :get, class: "btn btn-info", style: "width: 74px" %>
      </li>
      <li style="display: inline-block;">
        <%= button_to 'Sign up', new_user_registration_path, method: :get, class: "btn btn-info" %>
      </li>
    </ul>
  <% end %>
</div>
